/* stylesheet */
*{
  font-weight : normal;
  vertical-align: middle;
}
body{
  margin :0;
  padding : 1rem;
  background-color : #eee;
}
svg{
  background-color : white;
}
section {
  display : inline-block;
  background-color : #ddd;
  padding : 0rem 1rem 1rem 1rem;
  border-top : solid 1px #ccc;
  border-left : solid 1px #ccc;
  border-bottom : solid 1px #888;
  border-right : solid 1px #888;
  vertical-align: top;
}
